* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  /* CORREÇÃO: As cores do gradiente ficam juntas num parêntese, 
     e a imagem vem depois de uma vírgula */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(94, 87, 87, 0.5)),
    url("../assets/mulher.jpg");

  background-size: cover;
  background-position: center; /* isto puxa a imagem para cima revelando a mesa*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;

  overflow-x: hidden;

  /* Remove qualquer barra de rolagem se o conteudo for pequeno */
  display: flex;
  flex-direction: column;
}

.cabecalho {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
  padding: 10px 15px;
}

.lista-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 12px;
}

.lista-menu a {
  color: black;
  text-align: none;
  font-size: 1.2rem;
  text-decoration: none;
}

a:hover {
  color: #e78d06;
}

.conteudo-sobre {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha a esqueda */
  height: 100vh;
  padding-left: 100vh;
  padding-left: 5%; /* Afasta um pouco a borda para esquerda */
}

.bloco-historia {
  background: rgba(255, 255, 255, 0.15); /* Fundo branco bem transparente */
  backdrop-filter: blur(12px); /* efeito de vidro fosco */
  -webkit-backdrop-filter: blur(12px);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  max-width: 450px; /* largura maxima da caixa de texto */
  color: #f7e9d7;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  text-align: center; /* isto centraliza o botao e o H1 automaticamente */
}

.bloco-historia h1 {
  color: #432818;
  margin-bottom: 15px;
  font-size: 1.9rem;
  text-align: center;
  font-weight: bold;
}

.bloco-historia p {
  margin-bottom: 15px;
  line-height: 1.6;
  font-size: 1.1rem;
  text-align: justify;
  color: black;
}

.btn-servico {
  display: inline-block;
  margin-top: 15px;
  background: #e78d06;
  color: white;
  padding: 12px 18px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  text-align: center;
}

.btn-servico:hover {
  background: #a08c69;
}

@media (max-width: 768px) {
  .conteudo-sobre {
    justify-content: center; /* No telemovel, centraliza a caixa */
    padding-left: 0;
    padding: 20px;
  }

  .bloco-historia {
    max-width: 100%; /* Ocupa a largura disponivel */
    backdrop-filter: blur(
      20px
    ); /* Aumenta o desfoque para ler melhor no ecra pequeno */
  }

  body {
    /* Ajusta a posição da imagem para a personagem nao sumir */
    background-position: 80% center;
  }
}
